:root {
    --font: 'Verdana, Geneva, Tahoma, sans-serif';
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Monospace-Typewritter';
	src: url('fonts/MonospaceTypewriter.ttf');
}

* {
	font-family: var(--font);
    table-align: center;
	text-align: center;
}

p {
	line-height: 0.6;
}

body {
    color: white;
    background-color: #111;
	overflow-x: hidden;
	font-size: 16px;
	margin: 0px;
	user-select: none;
}

table, tr {
    display: flex;
    justify-content: center;
}

button {
    border: solid 2px white;
    background-color: #171717;
	color: white;
    font-size: 14px;
	cursor: pointer;
	transition-duration: 0.15s;
}

.soft {
	color: hsl(237, 15%, 47%);
	font-weight: bold;
	text-shadow: 0px 1px 0px hsl(252, 19%, 57%);
}

.img_btn {
	cursor: pointer;
	background-color: #444;
	transition-duration: 0.15s;
}

.img_chal {
	cursor: pointer;
	background-color: #171717;
	transition-duration: 0.15s;
	margin: 3px;
}

.img_chal.ch {
	background-color: #444;
}

.red {
	color: red;
}

.yellow {
	color: yellow;
}

.green {
	color: #00bb00;
}

.sky {
	color: skyblue;
}

.quark_color {
	animation: quark_color 6s cubic-bezier(0.37, 0, 0.63, 1) infinite
}

@keyframes quark_color {
	0%, 100% {
		color: red;
	}
	33.3% {
		color: blue;
	}
	66.7% {
		color: limegreen;
	}
}

.sml {
	margin-bottom: 5px;
}

.txt_area {
	font-size: 12px;
}

.resources {
	display: flex;
	align-items: center;
	min-width: 300px;
}

.btn_tab {
	width: 120px;
}

.btn_tab.bh {
	color: gold;
	border-color: gold;
}

.btn_tab.bh:not(.choosed):hover {
	background-color: #493e00;
}

.btn_tab.bh.choosed {
	color: black;
	background-color: gold;
}

.btn_tab.atom {
	color: #3157be;
	border-color: #3157be;
}

.btn_tab.atom:not(.choosed):hover {
	background-color: #172857;
}

.btn_tab.atom.choosed {
	color: black;
	background-color: #3157be;
}

.btn_tab.dilation {
	color: #25ff30;
	border-color: #25ff30;
}

.btn_tab.dilation:not(.choosed):hover {
	background-color: #0a470d;
}

.btn_tab.dilation.choosed {
	color: black;
	background-color: #25ff30;
}

.btn_tab:not(.choosed):hover {
	background-color: #444
}

.elements:not(.locked):not(.bought):hover,
.btn:not(.locked):not(.md):hover,
.img_btn:not(.locked):not(.bought):hover {
	background-color: #555
}

.btn_tab.normal.choosed {
	background-color: white;
	color: black;
}

.elements {
	font-size: 18px;
	width: 50px;
	height: 50px;
	background-color: #444;
}

.elements.locked {
	background-color: #171717;
	cursor: default;
}

.btn {
	cursor: pointer;
	background-color: #444;
	font-size: 12px;
	max-width: 250px;
	padding: 7px 25px;
	text-decoration: none;
}

.btn.full {
	width: 250px;
	height: 120px;
}

.btn.locked,
.img_btn.locked {
	background-color: #171717;
	cursor: default;
}

.elements.bought,
.img_btn.bought {
	background-color: #00520b;
	cursor: default;
}

.chal_comp {
	background-color: #00520b;
}

.input_ratio {
	width: 100px;
	border: solid 2px white;
	background-color: #171717;
}

.img_btn {
	cursor: pointer;
	background-color: #444;
}

h1 {
    display: inline;
	font-weight: normal;
    font-size: 35px;
}

h2 {
	display: inline;
	font-weight: normal;
    font-size: 25px;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.md {
	border-color: darkgreen;
	background-color: #171717;
}

.md.locked {
	border-color: #303030;
	cursor: default;
}

.md:not(.locked):hover {
	border-color: #00ce00;
	background-color: #003a00;
	box-shadow: 0 0 10px #00ce00;
}

[tooltip] {
	position: relative;
	z-index: 2;
	white-space: pre-wrap;
}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	white-space: pre-wrap;
}

[tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -160px;
	padding: 7px;
	width: 320px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 5%, 0.9);
	color: #fff;
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 5%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	white-space: pre-wrap;
}